h1 {
    font-size: 15px;
    color: #00386B;
    padding: 7px;
 } 



.container-modal {

   
    border: 2px solid #00386B;
    margin: auto;
    border-radius: 10px; 
    padding: 16px 32px;
    gap: 16px;
    width: 80%;
    background: #ffffff;      
    box-shadow: 0px 4px 4px #00386B;
    
 }

 .container-respostas {
    display: flex;
    justify-content: center;
 }


 .container-questions {
    overflow: auto;
    font-size: 13px;
    padding: 8px;
    margin: 10px;
    border: 2px solid #00386B;
    outline: none;
    border-radius: 10px;      
    width:60%;
    height: 30px;
 }


 .box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width:100px;
    height: 30px;
    background-color: #ffffff ;
    border: 2px solid #00386B;
    border-radius: 8px;
    font-size: 20px;
    color: #00386B;
    font-weight: bold;
    padding:8px;

} 
 .button-answers:checked + .box {
    background-color: #00386B;
    color: #fafafa;

 }

 .button-answers{
    display: none;
      
 }