h1 {
    font-size: 20px;
    color: #00386B;
    font-family: Arial, Helvetica, sans-serif;
}   


thead {
    background-color: #00386B;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;   
    border-radius: 10px  10px 0 0;
    
   
    
 }
 
  a:hover {
    color: none;
    text-decoration: none;
}

    a{
        text-decoration: none;
        color: #00386B;
    }

    table {
    border:none;

    margin-top: 30px;
    margin-bottom: 50px;
    color: #00386B;
    border-collapse: collapse;
    width: 100%;
    table-layout: auto; 
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    
    
}

th {
    text-align: center;
    height: 25px;
    vertical-align: bottom;
    height: 40px; 
    border-collapse: collapse;
    border:none;
   

}

th, td {
    border:none;
    text-align: center;
    padding: 10px;
    border-spacing: 10px; 
  
}


.container-modal {
   
    border: 1px solid #00386B;
    margin: auto;
    border-radius: 10px; 
    padding: 16px 32px;
    gap: 16px;
    width: 80%;
    height: auto;
    background: #f9f9f9;      
    box-shadow: 1px 3px 4px #00386B;
 }

 .btns {
    background-color: #00386B;
    border-radius: 100%;         
    width: 25px;
    height: 25px;
    padding: 3px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

.btns1  {
    background-color: #00386B;
    border-radius: 100%;      
    font-size: 12px;   
    width: 20px;
    height: 20px;
    padding: 3px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

.d-none{
    display: none !important;
}


 .fa-ellipsis {
    display: flex;    
    justify-content: center;
    align-items: center;
   
}

.bottons-table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fffdfd;
    border-radius: 10px;
    box-shadow: 0 1px 5px;
    position: relative;
    padding: 8px;
    width: 90px;
    height: 15px;
    align-items: center;
    
    
 }

 .acoes{
    display: flex;
    align-items: center;
    justify-content: center;
}

